<div class="row-fluid">
  <div class="span4 lostfound">FOUND</div>
  <div class="span4 lostfound">LOST</div>
</div>

Publish a picture of what you found in about 10 seconds.
<%= link_to "I have found!", found_index_path, :class=>"btn btn-success"  %>

Browse through stuffs that were found.
<%= link_to "I have lost!", lost_index_path, :class=>"btn btn-danger" %>
<br/><br/><br/>

Whether you lost your phone or your keys, we'll help you find the guy who found it.
Looze matches time stamped and geolocallized pictures of found objects from individuals and institutionals around the country to help you get back your stuffs!

Click one of the above buttons, whether you found or lost something!