<div class="row-fluid">
  <div class="span4 lostfound">FOUND</div>
  <div class="span4 lostfound">LOST</div>
</div>

<%= link_to "I have found!", found_index_path, :class=>"btn btn-success"  %>

<%= link_to "I have lost!", lost_index_path, :class=>"btn btn-danger" %>
<br/><br/><br/>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, sem nec ullamcorper vulputate, tellus ante mattis sapien, non blandit elit nisi at odio. Pellentesque posuere lobortis sapien, vel consequat nunc mollis sodales. Cras luctus, erat in dapibus feugiat, nunc libero consectetur mi, id varius ipsum urna ac odio. Maecenas arcu metus, dignissim in sagittis eu, placerat in elit. Morbi fringilla tristique neque eget volutpat. Donec id feugiat metus. Vestibulum arcu erat, molestie vel ultricies vitae, feugiat sit amet felis. Donec sem magna, faucibus sit amet elementum vitae, blandit in nisi. In at est vel justo lacinia cursus. Sed sed lectus et nulla dictum gravida. Duis rutrum elit sit amet mauris suscipit in mattis nibh imperdiet. Donec vestibulum molestie neque eu tempus. Fusce pulvinar eros eu eros varius ut placerat tortor rutrum. Fusce augue nisl, condimentum eu tempus id, condimentum luctus quam. Donec sit amet nisl sit amet leo aliquet tincidunt.

Mauris congue convallis turpis tristique molestie. Nunc malesuada, purus placerat suscipit tempor, turpis elit vehicula nibh, nec pulvinar nisi sapien a risus. Integer at nisl risus. Quisque in dui cursus magna viverra placerat. Donec id tellus at felis suscipit malesuada. Ut lectus erat, bibendum sed mollis ut, aliquam at purus. Mauris nec velit augue, cursus tincidunt nunc. Sed pharetra dictum gravida. Ut sem ipsum, vestibulum vitae commodo a, faucibus ac lacus. Integer id pulvinar ante. Curabitur a quam elit, in ullamcorper quam. Aliquam euismod metus vel mauris lobortis nec luctus purus interdum.

Nunc adipiscing luctus accumsan. Pellentesque eu elit turpis, varius feugiat nulla. Sed quis mauris leo, nec adipiscing lectus. Praesent non sem eu quam aliquet vulputate. Nulla interdum iaculis sem, a dignissim dui hendrerit et. Nunc condimentum velit eu lacus aliquam feugiat. Aliquam felis mauris, gravida euismod auctor id, venenatis feugiat sapien.

Duis fringilla scelerisque massa eu suscipit. Donec a mi vel urna euismod dapibus sit amet at arcu. Integer tempus, nisi at cursus posuere, sapien quam ultricies sapien, at accumsan nulla erat vel velit. Vivamus magna massa, sollicitudin non vehicula eu, laoreet quis sem. Aliquam bibendum commodo mi, vel blandit sem dapibus at. Nam eros lectus, commodo sed semper non, congue vitae tortor. Sed a risus et est tincidunt pulvinar sit amet sit amet enim. Suspendisse potenti. Etiam porttitor, nisl ac blandit accumsan, diam lorem eleifend metus, sed gravida lectus nisl eu erat. Sed placerat lacus at nibh interdum cursus. Donec et quam eu urna sodales egestas. Pellentesque viverra, lacus at mattis venenatis, dolor libero volutpat purus, rutrum sagittis nibh quam a nulla. Etiam mattis aliquam ante, quis sollicitudin justo vestibulum a.

Maecenas eget massa sed turpis viverra vehicula in vel ante. Nullam ac est nibh, vitae porta turpis. Praesent sagittis sollicitudin magna sodales imperdiet. Vestibulum egestas suscipit dictum. Integer sed metus neque, ut dapibus nisl. Fusce suscipit nisi at tortor aliquet non euismod elit sagittis. Aenean egestas viverra ipsum, vel pharetra dui luctus sit amet. Nulla tincidunt quam sit amet mauris cursus iaculis. Suspendisse in mauris quam, a viverra massa. Suspendisse tristique varius odio in rhoncus. Nulla at est at lectus tempus feugiat eget ac nulla. In tincidunt, mauris quis cursus placerat, quam lacus sollicitudin nisi, quis suscipit libero purus eu elit. Morbi a augue in eros dapibus aliquam. Sed vulputate hendrerit magna in interdum. 
