Publish a picture of what you found in less than 10 seconds...
<%= link_to "I have found!", found_index_path, :class=>"btn btn-success"  %>

Browse through stuffs that were found.
<%= link_to "I have lost!", lost_index_path, :class=>"btn btn-danger" %>
<br/><br/><br/>

<a class="twitter-timeline" href="https://twitter.com/looozecom" data-widget-id="300288741203918848">Tweets by @looozecom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

Whether you lost your beloved phone or the keys to your house, we'll help you find the guy who found it.
<b>Looze</b> matches time stamped and geolocallized pictures of found objects from individuals and institutionals around the country to help you get back your stuffs!
<br/>
Click one of the above buttons, whether you found or lost something!

<a href="https://twitter.com/looozecom" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @looozecom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>