<h1>Listing objets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objets.each do |objet| %>
  <tr>
    <td><%= link_to 'Show', objet %></td>
    <td><%= link_to 'Edit', edit_objet_path(objet) %></td>
    <td><%= link_to 'Destroy', objet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Objet', new_objet_path %>
