/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.footer {
  position: relative;
  bottom: 0px;
  margin-top: -30px; /* negative value of footer height */
  height: 20px;
  clear:both;
  padding-top:20px;
}

.titlefound{
font-family: 'Lobster',cursive;
}

.atweet{
padding:0px;
background-color: white;
border-radius: 10px;
}
.boiteatwits{
padding:0px;
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
