// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foundlost{
width: 576px;
height: 451px;
margin: 32px;

}
.metrobox{
color:#949494;
background: #e0e0eb;
margin: 32px;
font-family:"Arial",Georgia,Serif;
font-size:45px;
align:center;
text-align:center;
padding-top:30px;
}

